/* Banner */
.banner {
	position: relative;
	background-color: #e9d7d3;
	padding: 14rem 20%;
	.right {
		img {
			position: absolute;
			bottom: 0;
			right: 10%;
			width: 75rem;
		}
	}
	.trend {
		display: block;
		font-size: 2rem;
		font-weight: 300;
		margin-bottom: 1.5rem;
	}
	p {
		display: block;
		font-size: 2rem;
		font-weight: 300;
		margin-bottom: 1.5rem;
	}
	h1 {
		font-size: 5.4rem;
		color: var(--black);
		margin-bottom: 1.5rem;
	}
	.btn {
		display: inline-block;
		margin-top: 2rem;
	}
}
@media only screen and (max-width: 1500px) {
	.banner {
		padding: 14rem;
		.right {
			img {
				right: 3rem;
				width: 70rem;
			}
		}
	}
}
@media only screen and (max-width: 996px) {
	.banner {
		padding: 8rem 2rem;
		.trend {
			font-size: 1.5rem;
		}
		p {
			font-size: 1.5rem;
		}
		h1 {
			font-size: 4rem;
		}
		.right {
			img {
				right: -6%;
				width: 50rem;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.banner {
		display: grid;
		grid-template-columns: 1fr;
		height: 80vh;
    		.right {
			img {
				display: none;
			}
		}
	}
}
@media only screen and (max-width: 567px) {
	.banner {
		padding: 8rem 5rem;
		.trend {
			font-size: 1.3rem;
			margin-bottom: 1rem;
		}
		p {
			font-size: 1.3rem;
			margin-bottom: 1rem;
		}
		h1 {
			font-size: 3rem;
			margin-bottom: 1rem;
		}
		.btn {
			padding: 0.8rem 1.7rem;
			font-size: 1.4rem;
		}
	}
}
