.cart {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .product-info {
    display: flex;
    flex-wrap: wrap;
  }

  th {
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: $color-primary;
  }
}

.cart .cart td {
  padding: 10px 20px;
}

.cart td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

.cart td a {
  color: #fb774b;
}

.cart .remove-btn {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 1rem;
  color: $color-primary;
  text-decoration: none;
  font-size: 14px;
  background-color: #fff;
  border: none;
  width: 100%;
}

.cart .edit-btn {
  text-transform: uppercase;
  font-weight: bold;
  color: $color-primary;
  text-decoration: none;
  font-size: 15px;
  background-color: #fff;
  border: none;
  width: 100%;
}

.cart .product-info p {
  margin: 3px;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
}

.cart-total table {
  width: 100%;
  max-width: 500px;
  border-top: 3px solid $color-primary;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.checkout-container {
  display: flex;
  justify-content: flex-end;
}

.checkout-btn {
  background-color: $color-primary;
  color: #fff;
}
