/* BASE */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.font-roboto {
  font-family: "Roboto", cursive;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.color-primary {
  color: #f77873;
}

.color-primary-bg {
  background: #f77873;
}

.color-secondary {
  color: #121212;
}

.color-secondary-bg {
  background: #121212;
}

.color-tertiary {
  color: #FFD289;
}

.color-tertiary-bg {
  background: #FFD289;
}

/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  width: 300px;
  font-size: 0.8rem;
  font-weight: 900;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: #f1f1f1;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  background-color: #f1f1f1;
  color: #1d1d1d;
}

.hero {
  background-color: whitesmoke;
  position: relative;
  height: calc(100vh - 1rem);
  margin: 0 4rem;
  overflow: hidden;
}
.hero .glide__slides {
  background-color: whitesmoke;
  position: relative;
  height: calc(100vh - 1rem);
  margin: 0 4rem;
  overflow: hidden;
}
.hero .center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding-top: 3rem;
}
.hero .left {
  position: absolute;
  top: 0%;
  left: 25rem;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}
.hero .left h1 {
  font-size: 5rem;
  margin: 1rem 0;
}
.hero .left p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.hero .left .hero-btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  background-color: #f77873;
  color: white;
}
.hero .right {
  flex: 0 0 50%;
  height: 100%;
  position: relative;
  text-align: center;
}
.hero .right img {
  position: absolute;
  width: 55rem;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.center .right img.img1 {
  width: 85%;
  right: -25%;
  bottom: -50%;
}
.center .right img.img2 {
  width: 90%;
  right: -40%;
  bottom: -40%;
}

.glide__slide--active .center .right img {
  bottom: -3%;
  opacity: 1;
}
.glide__slide--active .left {
  opacity: 1;
  top: 35%;
}

@media only screen and (max-width: 1500px) {
  .hero .left {
    left: 0;
  }
}
@media only screen and (max-width: 999px) {
  .glide__slide--active .left {
    top: 15%;
  }

  .center .right img.img1 {
    width: 90%;
  }
  .center .right img.img2 {
    width: 100%;
  }
}
@media only screen and (max-width: 567px) {
  .center .right img.img1 {
    width: 30rem;
  }
  .center .right img.img2 {
    width: 33rem;
  }

  .hero {
    margin: 0;
    padding: 0 3rem;
  }
  .hero .glide__slides {
    margin: 0;
    padding: 0 3rem;
  }
  .hero .left h1 {
    font-size: 3rem;
  }
  .hero .left span {
    font-size: 1.4rem;
  }
  .hero .left p {
    font-size: 1.5rem;
    width: 80%;
  }
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.single-product input:focus {
  outline: none;
}

.single-product .buy-btn {
  background-color: #f77873;
  opacity: 1;
  transition: 0.4s all;
}

.single-product .buy-btn:hover {
  background-color: #121212;
  color: #fff;
}

/* New Arrivals */
.new-arrival {
  margin-top: 5rem;
}

.title {
  text-align: center;
  margin-bottom: 5rem;
}
.title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
}

.product-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.product-item {
  position: relative;
  width: 27rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.product-item .icons {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
.product-item .icons li {
  background-color: var(--white);
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 2.3rem;
  cursor: pointer;
  transition: 300ms ease-out;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
}
.product-item .icons li:first-child {
  transition-delay: 0.1s;
}
.product-item .icons li:nth-child(2) {
  transition-delay: 0.2s;
}
.product-item .icons li:nth-child(3) {
  transition-delay: 0.3s;
}
.product-item .icons li:not(:last-child) {
  margin-right: 0.5rem;
}
.product-item .icons li:hover {
  background-color: var(--green);
  color: var(--white);
}
.product-item:hover .icons li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.product-item:hover .overlay::after {
  visibility: visible;
  opacity: 1;
}
.product-item:hover .product-thumb img {
  transform: scale(1.1);
}
.product-item .overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
.product-item .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease-out;
}
.product-item .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--green);
  padding: 0.5rem 1rem;
  color: var(--white);
  border-radius: 2rem;
  font-size: 1.5rem;
}

.product-thumb img {
  width: 100%;
  height: 31rem;
  object-fit: cover;
  transition: all 500ms linear;
}

.product-info {
  padding: 1rem;
  text-align: center;
}
.product-info span {
  display: inline-block;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}
.product-info a {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
  transition: all 300ms ease;
}
.product-info a:hover {
  color: var(--green);
}

@media only screen and (max-width: 567px) {
  .product-center {
    max-width: 100%;
    padding: 0 1rem;
  }

  .product-item {
    width: 40%;
    margin-bottom: 3rem;
    margin-right: 2rem;
  }
  .product-item .icons li {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
  }

  .product-thumb img {
    height: 20rem;
  }
}
#banner {
  background-image: url("../assets/images/fall-banner.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#banner h1, #banner h4 {
  color: #fff;
}

.cart table {
  width: 100%;
  border-collapse: collapse;
}
.cart .product-info {
  display: flex;
  flex-wrap: wrap;
}
.cart th {
  text-align: left;
  padding: 5px 10px;
  color: #fff;
  background-color: #f77873;
}

.cart .cart td {
  padding: 10px 20px;
}

.cart td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

.cart td a {
  color: #fb774b;
}

.cart .remove-btn {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 1rem;
  color: #f77873;
  text-decoration: none;
  font-size: 14px;
  background-color: #fff;
  border: none;
  width: 100%;
}

.cart .edit-btn {
  text-transform: uppercase;
  font-weight: bold;
  color: #f77873;
  text-decoration: none;
  font-size: 15px;
  background-color: #fff;
  border: none;
  width: 100%;
}

.cart .product-info p {
  margin: 3px;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
}

.cart-total table {
  width: 100%;
  max-width: 500px;
  border-top: 3px solid #f77873;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.checkout-container {
  display: flex;
  justify-content: flex-end;
}

.checkout-btn {
  background-color: #f77873;
  color: #fff;
}

.footer {
  padding: 7rem 1rem;
  background-color: #f77873;
}
.footer .col {
  flex-direction: column;
  color: #fff;
  align-items: flex-start;
}
.footer .col:last-child {
  flex-direction: row;
  justify-content: center;
}
.footer .col:last-child span {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: #fff;
}
.footer .col h4 {
  margin-bottom: 1rem;
}
.footer .col a {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 300;
}

footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 99.6rem;
  margin: 0 auto;
}
@media only screen and (max-width: 567px) {
  footer .row {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}

#login-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #f77873;
}
#login-form input {
  width: 50%;
  margin: 5px auto;
}
#login-form #login-btn {
  background-color: #f77873;
  color: #fff;
}
#login-form #register-url {
  color: #f77873;
}

#register-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #f77873;
}
#register-form input {
  width: 50%;
  margin: 5px auto;
}
#register-form #register-btn {
  background-color: #f77873;
  color: #fff;
}
#register-form #login-url {
  color: #f77873;
}

#account-form {
  width: 50%;
  margin: 35px auto;
  text-align: center;
  padding: 20px;
}
#account-form input {
  margin: 5px auto;
}
#account-form #change-pass-btn {
  color: #fff;
  background-color: #f77873;
}
#account-form .account-info #orders-btn,
#account-form #logout-btn {
  color: #f77873;
  text-decoration: none;
}

.orders table {
  width: 100%;
  border-collapse: collapse;
}
.orders .product-info {
  display: flex;
  flex-wrap: wrap;
}
.orders th {
  padding: 5px 20px;
  color: #fff;
  background-color: #f77873;
}
.orders td {
  padding: 10px 20px;
}
.orders .orders td,
.orders .orders img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.orders .orders .order-details-btn {
  color: #fff;
  background-color: #f77873;
}

#checkout-form .checkout-small-element {
  display: inline-block;
  width: 48%;
  margin: 10px auto;
}
#checkout-form .checkout-large-element {
  width: 97%;
}
#checkout-form .checkout-btn-container {
  margin: 10px;
  text-align: right;
  margin-right: 40px;
}
#checkout-form #checkout-btn {
  color: #fff;
  background-color: #f77873;
}

#contact span {
  color: #f77873;
}

.header {
  position: relative;
  overflow-x: hidden;
}

.logo {
  color: #fff;
}

.navigation {
  background-color: #f77873;
  height: 8rem;
  line-height: 6rem;
}

.nav-center {
  justify-content: space-between;
  margin: 0 auto;
}
.nav-center .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}
.nav-center .nav-link {
  font-size: 1.8rem;
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
}
.nav-center .hamburger {
  display: none;
  font-size: 2.3rem;
  cursor: pointer;
}

.nav-list .icons {
  display: none;
}

.icon {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0 1rem;
  color: #fff;
  position: relative;
}
.icon:not(:last-child) {
  margin-right: 0.5rem;
}
.icon span {
  position: absolute;
  top: 3px;
  right: -3px;
  background-color: #fff;
  color: red;
  border-radius: 50%;
  font-size: 1.3rem;
  height: 2rem;
  width: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: -45rem;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #f77873;
    height: 100%;
    width: 0%;
    max-width: 22.5rem;
    z-index: 100;
    transition: all 300ms ease-in-out;
  }
  .nav-list .nav-item {
    margin: 0 0 1rem 0;
    width: 100%;
  }
  .nav-list .nav-link {
    font-size: 2rem;
    color: #fff;
  }
  .nav-list .icons {
    display: flex;
  }

  .nav-list.open {
    left: 0;
    width: 100%;
  }

  .nav-center .hamburger {
    display: block;
    color: #fff;
    font-size: 3rem;
  }

  .icons {
    display: none;
  }

  .top-nav ul {
    display: none;
  }
  .top-nav div {
    justify-content: center;
    height: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
