/* BASE */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.font-roboto {
  font-family: "Roboto", cursive;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.color-primary {
  color: #f77873;
}

.color-primary-bg {
  background: #f77873;
}

.color-secondary {
  color: #121212;
}

.color-secondary-bg {
  background: #121212;
}

.color-tertiary {
  color: #FFD289;
}

.color-tertiary-bg {
  background: #FFD289;
}

/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.custom-container {
  width: 90%;
  margin: 0 auto;
}

.d-flex-custom {
  display: flex;
  align-items: center;
}

.custom-input {
  all: unset;
  font-family: "Roboto", sans-serif;
}

.border-bottom-secondary {
  border-bottom: 3px solid #121212;
}

button, button:focus {
  all: unset;
  outline: none !important;
  box-shadow: none !important;
}

.hero {
  background-color: #e9d7d3;
  height: calc(70vh - 1rem);
  margin: 0 auto;
  overflow: hidden;
}
.hero .glide__slides {
  background-color: #e9d7d3;
  position: relative;
  height: calc(100vh - 1rem);
  margin: 0 4rem;
  overflow: hidden;
}
.hero .center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding-top: 3rem;
}
.hero .left {
  position: absolute;
  top: 0%;
  left: 25rem;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}
.hero .left h1 {
  font-size: 5rem;
  margin: 1rem 0;
}
.hero .left p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.hero .left .hero-btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  background-color: #f77873;
  color: white;
}
.hero .right {
  flex: 0 0 50%;
  height: 100%;
  position: relative;
  text-align: center;
}
.hero .right img {
  position: absolute;
  width: 55rem;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.center .right img.img1 {
  width: 85%;
  right: -25%;
  bottom: -50%;
}
.center .right img.img2 {
  width: 90%;
  right: -40%;
  bottom: -40%;
}

.glide__slide--active .center .right img {
  bottom: -3%;
  opacity: 1;
}
.glide__slide--active .left {
  opacity: 1;
  top: 35%;
}

@media only screen and (max-width: 1500px) {
  .hero .left {
    left: 0;
  }
}
@media only screen and (max-width: 999px) {
  .glide__slide--active .left {
    top: 15%;
  }

  .center .right img.img1 {
    width: 90%;
  }
  .center .right img.img2 {
    width: 100%;
  }
}
@media only screen and (max-width: 567px) {
  .center .right img.img1 {
    width: 30rem;
  }
  .center .right img.img2 {
    width: 33rem;
  }

  .hero {
    margin: 0;
    padding: 0 3rem;
  }
  .hero .glide__slides {
    margin: 0;
    padding: 0 3rem;
  }
  .hero .left h1 {
    font-size: 3rem;
  }
  .hero .left span {
    font-size: 1.4rem;
  }
  .hero .left p {
    font-size: 1.5rem;
    width: 80%;
  }
}
/* New Arrivals */
.product-list {
  margin-top: 5rem;
}

.title {
  text-align: center;
  margin-bottom: 5rem;
}
.title h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
}

.product-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.product-item {
  position: relative;
  width: 27rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.product-item .icons {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
.product-item .icons li {
  background-color: #fff;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 2.3rem;
  cursor: pointer;
  transition: 300ms ease-out;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
}
.product-item .icons li:first-child {
  transition-delay: 0.1s;
}
.product-item .icons li:nth-child(2) {
  transition-delay: 0.2s;
}
.product-item .icons li:nth-child(3) {
  transition-delay: 0.3s;
}
.product-item .icons li:not(:last-child) {
  margin-right: 0.5rem;
}
.product-item .icons li:hover {
  background-color: #f77873;
  color: #fff;
}
.product-item:hover .icons li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.product-item:hover .overlay::after {
  visibility: visible;
  opacity: 1;
}
.product-item:hover .product-thumb img {
  transform: scale(1.1);
}
.product-item .overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
.product-item .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease-out;
}
.product-item .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #f77873;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 2rem;
  font-size: 1.5rem;
}

.product-thumb img {
  width: 100%;
  height: 31rem;
  object-fit: cover;
  transition: all 500ms linear;
}

.product-info {
  padding: 1rem;
  text-align: center;
}
.product-info span {
  display: inline-block;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}
.product-info a {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
  transition: all 300ms ease;
}
.product-info a:hover {
  color: #f77873;
}

@media only screen and (max-width: 567px) {
  .product-center {
    max-width: 100%;
    padding: 0 1rem;
  }

  .product-item {
    width: 40%;
    margin-bottom: 3rem;
    margin-right: 2rem;
  }
  .product-item .icons li {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
  }

  .product-thumb img {
    height: 20rem;
  }
}
.section .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.all-products {
  margin-top: 5%;
}
.all-products .top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.all-products .top select {
  font-family: "Poppins", sans-serif;
  width: 20rem;
  padding: 1rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
}

form {
  position: relative;
  z-index: 1;
}
form span {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

.pagination {
  padding: 3rem 0 5rem 0;
}
.pagination .custom-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination span {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid #f77873;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.pagination span:hover {
  border: 1px solid #f77873;
  background-color: #f77873;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .all-products .top select {
    width: 15rem;
  }
}
/* Banner */
.banner {
  position: relative;
  background-color: #e9d7d3;
  padding: 14rem 20%;
}
.banner .right img {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 75rem;
}
.banner .trend {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.banner p {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.banner h1 {
  font-size: 5.4rem;
  color: var(--black);
  margin-bottom: 1.5rem;
}
.banner .btn {
  display: inline-block;
  margin-top: 2rem;
}

@media only screen and (max-width: 1500px) {
  .banner {
    padding: 14rem;
  }
  .banner .right img {
    right: 3rem;
    width: 70rem;
  }
}
@media only screen and (max-width: 996px) {
  .banner {
    padding: 8rem 2rem;
  }
  .banner .trend {
    font-size: 1.5rem;
  }
  .banner p {
    font-size: 1.5rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
  .banner .right img {
    right: -6%;
    width: 50rem;
  }
}
@media only screen and (max-width: 768px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr;
    height: 80vh;
  }
  .banner .right img {
    display: none;
  }
}
@media only screen and (max-width: 567px) {
  .banner {
    padding: 8rem 5rem;
  }
  .banner .trend {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .banner p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .banner h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .banner .btn {
    padding: 0.8rem 1.7rem;
    font-size: 1.4rem;
  }
}
.cart {
  margin: 10rem auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}
.cart-info input {
  color: #f77873;
  font-weight: bold;
  cursor: pointer;
}

th {
  text-align: left;
  padding: 0.5rem;
  color: #121212;
  border: 5px solid #121212;
  font-weight: normal;
}
th:last-child {
  text-align: right;
}

td {
  padding: 1rem 0.5rem;
}
td input {
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
}
td a {
  color: orangered;
  font-size: 1.4rem;
}
td img {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
}
td:last-child {
  text-align: right;
}

.total-price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 2rem;
  border-top: 3px solid #121212;
}

.checkout {
  display: inline-block;
  background-color: #121212;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 567px) {
  .cart-info p {
    display: none;
  }
}
.footer {
  padding: 7rem 1rem;
  background-color: #f77873;
}
.footer .footer-col {
  flex-direction: column;
  color: #fff;
  align-items: flex-start;
}
.footer .footer-col:last-child {
  flex-direction: row;
  justify-content: center;
}
.footer .footer-col:last-child span {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: #fff;
}
.footer .footer-col h4 {
  margin-bottom: 1rem;
}
.footer .footer-col a {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 300;
}

footer .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 99.6rem;
  margin: 0 auto;
}
@media only screen and (max-width: 567px) {
  footer .row {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}

#login-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #f77873;
}
#login-form input {
  width: 50%;
  margin: 5px auto;
}
#login-form #login-btn {
  background-color: #f77873;
  color: #fff;
}
#login-form #register-url {
  color: #f77873;
}

#register-form {
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #f77873;
}
#register-form input {
  width: 50%;
  margin: 5px auto;
}
#register-form #register-btn {
  background-color: #f77873;
  color: #fff;
}
#register-form #login-url {
  color: #f77873;
}

#account-form {
  width: 50%;
  margin: 35px auto;
  text-align: center;
  padding: 20px;
}
#account-form input {
  margin: 5px auto;
}
#account-form #change-pass-btn {
  color: #fff;
  background-color: #f77873;
}
#account-form .account-info #orders-btn,
#account-form #logout-btn {
  color: #f77873;
  text-decoration: none;
}

.orders table {
  width: 100%;
  border-collapse: collapse;
}
.orders .product-info {
  display: flex;
  flex-wrap: wrap;
}
.orders th {
  padding: 5px 20px;
  color: #fff;
  background-color: #f77873;
}
.orders td {
  padding: 10px 20px;
}
.orders .orders td,
.orders .orders img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.orders .orders .order-details-btn {
  color: #fff;
  background-color: #f77873;
}

.input-checkout {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: #f77873;
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: #f77873;
  color: #f3f3f3;
}

/* Form */
.form-checkout {
  width: clamp(320px, 30%, 430px);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: #f77873;
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #f77873;
}

.header {
  width: 90%;
  margin: 0 auto;
}

.top-nav {
  border-bottom: 3px solid #121212;
  font-size: 1.5rem;
  height: 2.25rem;
  color: #121212;
}
.top-nav div {
  justify-content: space-between;
}
.top-nav a {
  padding: 0 0.5rem;
}

.navigation {
  line-height: 6rem;
}

.nav-center {
  justify-content: space-between;
}
.nav-center .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}
.nav-center .nav-link {
  font-size: 1.8rem;
  padding: 1rem;
}
.nav-center .nav-link:hover {
  color: #f77873;
}
.nav-center .hamburger {
  display: none;
  font-size: 2.3rem;
  color: #f77873;
  cursor: pointer;
}

.nav-list .icons {
  display: none;
}

.icon {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 0 1rem;
  color: #555;
  position: relative;
}
.icon:not(:last-child) {
  margin-right: 0.5rem;
}
.icon span {
  position: absolute;
  top: 3px;
  right: -3px;
  background-color: #f77873;
  color: #fff;
  border-radius: 50%;
  font-size: 1.3rem;
  height: 2rem;
  width: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    top: 12%;
    left: -35rem;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 100%;
    width: 0%;
    max-width: 35rem;
    z-index: 100;
    transition: all 300ms ease-in-out;
  }
  .nav-list .nav-item {
    margin: 0 0 1rem 0;
    width: 100%;
  }
  .nav-list .nav-link {
    font-size: 2rem;
  }
  .nav-list .icons {
    display: flex;
  }

  .nav-list.open {
    left: 0;
    width: 100%;
  }

  .nav-center .hamburger {
    display: block;
    color: #f77873;
    font-size: 3rem;
  }

  .icons {
    display: none;
  }

  .top-nav ul {
    display: none;
  }
  .top-nav div {
    justify-content: center;
    height: 3rem;
  }
}
/* Product Details */
.product-detail .details {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 7rem;
}
.product-detail .left {
  display: flex;
  flex-direction: column;
}
.product-detail .left .main {
  text-align: center;
  background-color: #f6f2f1;
  margin-bottom: 2rem;
  height: 45rem;
}
.product-detail .left .main img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.product-detail .right span {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.product-detail .right h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.product-detail .right .price {
  font-size: 600;
  font-size: 2rem;
  color: #f77873;
  margin-bottom: 2rem;
}
.product-detail .right div {
  display: inline-block;
  position: relative;
  z-index: -1;
}
.product-detail .right select {
  font-family: "Poppins", sans-serif;
  width: 20rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
}
.product-detail form {
  margin-bottom: 2rem;
  z-index: 0;
}
.product-detail form span {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}
.product-detail .form {
  margin-bottom: 3rem;
}
.product-detail .form input {
  padding: 0.8rem;
  text-align: center;
}
.product-detail .form .addCart {
  background: #f77873;
  padding: 0.8rem 4rem;
  color: #fff;
  border-radius: 3rem;
  outline: none !important;
}
.product-detail h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 996px) {
  .product-detail .left {
    width: 30rem;
    height: 45rem;
  }
  .product-detail .details {
    gap: 3rem;
  }
}
@media only screen and (max-width: 650px) {
  .product-detail .details {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .product-detail .right {
    margin-top: 1rem;
  }
  .product-detail .left {
    width: 100%;
    height: 45rem;
  }
}
.page-item {
  display: inline-block;
}
.page-item a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.page-item--disabled a {
  color: darkgray;
}
.page-item--disabled a:hover {
  cursor: default;
}

/*# sourceMappingURL=style.css.map */
