$font-roboto : "Roboto" , cursive;

$color-primary: #f77873 ;
$color-secondary : #121212;
$color-tertiary: #FFD289; 

.font-roboto {
  font-family: $font-roboto;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}
